<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
    <style>
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
          margin: 0; /* Corrects margin in older versions of some browsers */
      }

      input[type="number"] {
          -moz-appearance: textfield; /* Firefox */
          appearance: textfield; /* Standard property for modern browsers */
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px white inset !important; /* Change 'white' to your desired bg color */
          -webkit-text-fill-color: #333 !important; /* Change text color if needed */
      }

    </style>
  </head>
  <body class="font-[Lora]">
    {{{body}}}
  </body>
</html>
