<div class="min-h-screen font-[Google_Sans_Flex] bg-[#262624]">

    <div class="font-[Google_Sans_Flex] items-center lg:mx-16 mx-4 flex flex-row py-4 text-white border-b border-b-[#40403C]">
        <p class="text-lg">Student Score Manager</p>

        <div class="ms-auto gap-4 flex flex-row">
            <button id="changePassword" class="ms-auto text-sm hover:cursor-pointer font-normal rounded-md bg-[#f0460d] hover:bg-orange-700 p-3">Change Password</button>
            <button id="logOut" class="ms-auto text-sm hover:cursor-pointer font-normal rounded-md bg-red-700 hover:bg-red-500 p-3">Log Out</button>
        </div>
    </div>

    <div class="flex flex-col justify-center items-center my-[8vh] gap-6 text-white">
        <a href="/super_admin/manage_admins" class="w-[80vw] py-8 text-center lg:w-[40vw] bg-[#3a3a3a] rounded-lg hover:cursor-pointer hover:bg-[#636363] text-lg">Manage Admins</a>
        <a href="" class="w-[80vw] py-8 text-center lg:w-[40vw] bg-[#3a3a3a] rounded-lg hover:cursor-pointer hover:bg-[#636363] text-lg">Manage Teachers</a>
        <a href="/students" class="w-[80vw] py-8 text-center lg:w-[40vw] bg-[#3a3a3a] rounded-lg hover:cursor-pointer hover:bg-[#636363] text-lg">Manage Students</a>
    </div>

</div>